!! Colorscheme
*customization: -color
*StringConversionWarnings: on

! ICEBERG
*background: #161821
*foreground: #c6c8d1
*cursor: #d2d4de

*color0: #161821
*color8: #6b7089

*color1: #e27878
*color9: #e98989

*color2: #b4be82
*color10: #c0ca8e

*color3: #e2a478
*color11: #e9b189

*color4: #84a0c6
*color12: #91acd1

*color5: #a093c7
*color13: #ada0d3

*color6: #89b8c2
*color14: #95c4ce

*color7: #c6c8d1
*color15: #d2d4de

/* ! GRUVBOX */
/* ! hard contrast: *background: #1d2021 */
/* *background: #282828 */
/* ! soft contrast: *background: #32302f */
/* *foreground: #ebdbb2 */
/* ! Black + DarkGrey */
/* *color0:  #282828 */
/* *color8:  #928374 */
/* ! DarkRed + Red */
/* *color1:  #cc241d */
/* *color9:  #fb4934 */
/* ! DarkGreen + Green */
/* *color2:  #98971a */
/* *color10: #b8bb26 */
/* ! DarkYellow + Yellow */
/* *color3:  #d79921 */
/* *color11: #fabd2f */
/* ! DarkBlue + Blue */
/* *color4:  #458588 */
/* *color12: #83a598 */
/* ! DarkMagenta + Magenta */
/* *color5:  #b16286 */
/* *color13: #d3869b */
/* ! DarkCyan + Cyan */
/* *color6:  #689d6a */
/* *color14: #8ec07c */
/* ! LightGrey + White */
/* *color7:  #a89984 */
/* *color15: #ebdbb2 */
